
*{
    outline: none !important;
}
body {
    background-color: #f4f7f9;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

.form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.Achievements{
    max-width: 1100px;
  
}
.achievements-list{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 30px;
   box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
   border-radius: 10px;
    flex-direction: column;
    width: 580px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom:20px ;
}
body.dark .form-container {
    background: #1e1e1e;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #7ad100;
    text-align: center;
}

body.dark h1 {
    color: #a4d600;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    transition: color 0.3s ease;
}

body.dark label {
    color: #ffffff;
}

input[type="text"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

body.dark input[type="text"],
body.dark input[type="url"],
body.dark textarea {
    background: #333;
    color: #ffffff;
    border: 1px solid #555;
}

textarea {
    resize: vertical;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #7ad100;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-button:hover {
    background-color: #9747FF;
}

body.dark .submit-button {
    background-color: #4CAF50;
}

body.dark .submit-button:hover {
    background-color: #3e8e41;
}
.achievements-list img{
    border-radius: 20px;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .submit-button {
        font-size: 1rem;
    }
}