/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap');


html{
    scroll-behavior: smooth;
    
}
button{
    cursor: none !important;
}
#page-container {
    width: 100%;
    height: 100vh;
    max-width: 1300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    /* border: 1px solid orange; */
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    height: 80px;
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid rgb(53, 39, 83);
    background: radial-gradient(circle at 30% 10%, rgba(0, 26, 77, 0.7), rgba(0, 26, 77, 1.2) 100%);
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.top-bar h2 {
    color: white;
    font-size: clamp(18px, 3.5vw, 30px);
    margin-left: 10px;
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font1 {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font2 {
    font-family: "Kanit", serif;
    font-weight: 800;
    font-style: italic;
}

#back-button button {
    padding: 10px;
    background: #9747FF;
    color: white;
    border-radius: 50%;
    font-size: 30px;
    border: 1px solid #9747FF;
    transform: rotateX(30deg);
}

.box {
    width: 100%;
    padding: 30px;
    border: 1px solid rgb(53, 39, 83);
    background: radial-gradient(circle at 30% 10%, rgba(0, 15, 81, 0.705), rgb(8, 0, 70) 100%);
    box-shadow: 3px 5px 8px rgba(142, 0, 150, 0.3);
    border-radius: 10px;

}

#page-sections {
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 180px);
    padding: 10px;
    gap: 15px;
    overflow: auto;
}

/* profile section */
#profile {
    grid-row: span 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    perspective: 1px;
    align-items: center;
    transform-style: preserve-3d;
    transform: translateZ(100px);
}

.profile-content img {
    border-radius: 50%;
}

.profile-content button {
    width: 100%;
    padding: 10px;
    border: 1px solid #9747FF;
    background: #9747FF;
    border-radius: 6px;
    color: white;
}

.profile-content div {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.svg-container {
    display: inline-block;
    transition: 0.8s;
}

.svg-container:hover {
   
}

.svg-container:hover svg path {
    fill: #9747FF;

}

#Profileimg {
    filter: drop-shadow(2px 4px 8px rgba(34, 34, 34, 0.8));
}

/* Occupation  */
#occupation h2 {
    font-size: clamp(18px, 2.5vw, 18px);
    color: white;
}

#occupation h3 {
    padding-top: 30px;
    font-size: clamp(18px, 2.5vw, 25px);
    color: white;
}

/* social links */
#sociallinks {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.sociallink {
    margin-left: 30px;
    display: flex;
    gap: 20px;
}

#sociallinks h2 {
    font-size: clamp(18px, 2.5vw, 18px);
    color: white;
    padding: 10px;
}

#sociallinks button {
    font-size: clamp(18px, 3.5vw, 85px);
    background: transparent;
    color: white;
    border: none;
    transform: rotateX(30deg);
    border: 1px solid white;
    border-radius: 100%;
    padding: 15px;
    transition: 0.5s;
    margin-top: 10px;
    box-shadow: 2px 3px 5px rgba(142, 0, 150, 0.3);


}

#sociallinks button:hover {
    transform: scale(1.03);
    border: 1px solid #9747FF;
    box-shadow: 2px 3px 5px rgba(142, 0, 150, 0.3);
    box-shadow: inset 3px 4px 5px rgba(144, 144, 144, 0.2);

}

/* quotes */
#quotes h2 {
    font-size: clamp(18px, 2.5vw, 18px);
    color: white;
}

#quotes h3 {
    padding-top: 30px;
    font-size: clamp(18px, 2.5vw, 25px);
    color: white;
}

/* experience */
#experience {
    color: white;
    padding: 20px;

}

#experience h2 {
    font-size: clamp(18px, 2.5vw, 24px);
    padding: 5px;
    color: #9747FF;

}

#experience p {
    padding: 5px;
    font-size: clamp(14px, 15px, 18px);
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: italic;
}

/* skills */
#skills {
    grid-column: span 2;
    grid-row: span 2;
    z-index: 1;
}

#skills h2 {
    font-size: clamp(18px, 2.5vw, 25px);
    color: white;

}

#skills .skillmarque {
    padding: 10px;
    margin-top: 20px;
}

#skills .skillcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.skillcontent h2 {
    padding: 10px;
    padding-top: 30px;
    font-size: clamp(18px, 2.5vw, 25px);
    font-weight: 700;

}

.sociallink {
    display: flex;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.marquee-content {
    display: inline-flex;
    animation: scroll 8s linear infinite;
}

.marquee-content img {
    margin-right: 20px;
}

.background-skill {
    position: absolute;
    overflow: hidden;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.anim,
.anim svg {
    position: relative;
    width: 100%;
    height: 100%;
}

.anim path {
    stroke-width: 2;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#achievments {
    grid-row: span 2;
}

/* github */
#github {
    grid-column: span 2;
    height: 280px;
}

#github {
    height: 280px;
}

/* Certifications */
.certi-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#certifications {
    padding: 10px;
}

#certifications h2 {
    font-size: clamp(18px, 2.5vw, 18px);
    color: white;
    padding: 10px;
}

.certi-content h2 {
    padding: 10px;
    font-size: clamp(18px, 2.5vw, 23px);
    color: white;
}

#moreicon {
    position: absolute;
    right: 40px;
    top: 110%;
   
}

/* github */

#github {
    width: 100%;
    padding: 20px;
    height: 300px;
}

#github h2 {
    font-size: clamp(18px, 2.5vw, 18px);
    color: white;
    padding: 10px;
}

#githubmain {
    width: 100%;
    height: 180px;
}

/* projects */
#project {
    padding: 20px;
}

#project h2 {
    font-size: clamp(18px, 2.5vw, 18px);
    color: white;
    padding: 10px;
}

#moreicon2 {
    left: 22%;
    top: 110%;
   
    position: absolute;
}

/* achievements */
#achievments {
    padding: 20px;
    transition: 0.5s;
}

#achievments h2 {
    font-size: clamp(18px, 2.5vw, 18px);
    color: white;
}

#moreicon3 {
    position: absolute;
    right: 40px;
    top: 55%;
   
}

.achievements-content {
    margin-top: 30px;
}

.achievements-content h2 {
    margin-top: 30px;
    line-height: 1.1;
}

img {
    border-radius: 10px;
}

/* Responsive */

/* Extra Small Devices (Portrait Phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    #page-sections {
        display: flex;
        flex-direction: column;

    }
}

/* Small Devices (Landscape Phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {}

/* Medium Devices (Tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {}

/* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra Large Devices (Large Desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {}

/* Super Large Devices (Ultra-Wide Screens, 1400px and up) */
@media only screen and (min-width: 1400px) {}


/* scroll bar  */
::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-thumb {
    background-color: #9747FF;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7d37cc;
}


